.profile {
    max-width: 1280px;
    max-height: 626px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
}

.profile__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin: 74px auto 123px;
}

.profile__form {
    width: 410px;
    margin: 0 auto;
}

@media (max-width: 415px) {
    .profile__form {
        width: 260px;
    }
}

.profile__name-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(232, 232, 232, 1);
    margin-bottom: 17px;
}

.profie__input-name {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align: start;
    margin: 0;
}

.profile__input {
    border: none;
    text-align: right;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
}

.profile__input:focus {
    outline: none;
}

.profile__input::placeholder {
    text-align: right;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
}

.profile__email-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 220px;
}

.profile__input-error {
    width: 100%;
    height: 12px;
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: start;
    color: #EE3465;
}

.profile__submit-btn {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    border: none;
    background-color: inherit;
    cursor: pointer;
    padding: 0;
    width: 410px;
    margin: 0 auto 16px;
    transition: opacity 1s;
}

.profile__text-message {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    width: 410px;
    color: green;
}

@media (max-width: 415px) {
    .profile__submit-btn {
        width: 260px;
        font-size: 12px;
        line-height: 15px;
    }
}

.profile__submit-btn:disabled {
    cursor: default;
    opacity: .5;
}

.profile__submit-btn:hover:valid {
    opacity: .8;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.profile__logout-btn {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    border: none;
    background-color: inherit;
    cursor: pointer;
    padding: 0;
    width: 410px;
    margin: 0 auto 70px;
    transition: opacity 1s;
    color: #EE3465;
}

@media (max-width: 415px) {
    .profile__logout-btn {
        width: 260px;
        font-size: 12px;
        line-height: 15px;
        margin: 0 auto 40px;
    }
}

.profile__logout-btn:hover {
    opacity: .8;
}