.notfound {
    max-width: 1280px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.notfound__title {
    margin: 246px auto 5px;
    font-weight: 400;
    font-size: 140px;
    line-height: 169px;
    text-align: center;
}

@media (max-width: 770px) {
    .notfound__title {
        margin-top: 408px;
    }
}

@media (max-width: 415px) {
    .notfound__title {
        font-size: 80px;
        line-height: 97px;
        margin: 329px auto 10px;
    }
}

.notfound__subtitle {
    margin: 0 auto 184px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

@media (max-width: 415px) {
    .notfound__subtitle  {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 284px;
    }
}


.notfound__link {
    text-decoration: none;
    margin: 0 auto 60px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #2BE080;
    transition: opacity 1s;
}

@media (max-width: 415px) {
    .notfound__link  {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 30px;
    }
}

.notfound__link:hover {
    opacity: .8;
    cursor: pointer;
}