.promo__frame {
    padding: 0 40px;
}

.promo {
    margin: 0 auto 110px;
    background-color: #F5F5F5;
    max-width: 1200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.promo__title {
    text-align: center;
    max-width: 730px;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    padding-top: 160px;
    padding-bottom: 161px;
    letter-spacing: -0.04em;
    margin: 0;
}

.promo__nav-links {
    max-width: 308px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.promo__btn {
    text-align: center;
    width: 96px;
    height: 36px;
    background-color: #E8E8E8;
    color: #000000;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    padding: 0;
    transition: opacity 1s;
}

.promo__btn:hover {
    opacity: .6;
}

.promo__btn:last-child {
    margin-right: 0;
}

.promo__link {
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 900px) {
    .promo {
        margin: 0 auto 90px;
        max-width: 728px;
    }
}

@media screen and (max-width: 900px) {
    .promo__title {
        font-size: 40px;
        line-height: 52px;
        padding-top: 350px;
        padding-bottom: 314px;
    }
}

@media screen and (max-width: 425px) {
    .promo {
        margin: 0 auto 70px;
        max-width: 292px;
    }
}

@media screen and (max-width: 425px) {
    .promo__title {
        font-size: 29px;
        line-height: 37px;
        padding-top: 220px;
        padding-bottom: 212px;
    }
}
 
@media screen and (max-width: 425px) {
    .promo__btn {
        font-size: 10px;
        width: 82px;
        height: 26px;
        border-radius: 6px;
        margin-right: 6px;
    }
}

@media screen and (max-width: 425px) {
    .promo__nav-links {
        max-width: 264px;
        margin-bottom: 17px;
    }
}