.promo {
    margin: 0 auto;
    background-color: #F5F5F5;
    max-width: 1200px;
    max-height: 493px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.promo__title {
    text-align: center;
    max-width: 730px;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    padding-top: 160px;
    padding-bottom: 161px;
    letter-spacing: -0.04em;
    margin: 0;
}

.promo__nav-links {
    max-width: 308px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.promo__btn {
    text-align: center;
    width: 96px;
    height: 36px;
    background-color: #E8E8E8;
    color: #000000;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
}

.promo__btn:last-child {
    margin-right: 0;
}