.search-form {
  max-width: 1280px;
  max-height: 222px;
  margin: 0 auto 69px;
  position: relative;
}

.search-form__container {
  margin: 0 auto;
  max-width: 1140px;
  max-height: 72px;
  background-color: #f9f9f9;
  border-radius: 9px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 19px 30px 19px 19px;
}

.search-form__icon {
  width: 22px;
  height: 22px;
  margin-right: 16px;
}

.serch-form__line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.search-form__input {
  width: 786px;
  border: none;
  background-color: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: start;
}

.search-form__input::placeholder {
  color: #a0a0a0;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: start;
}

.search-form__button {
  background-image: url(../../images/form-btn.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 34px;
  height: 34px;
  background-color: #2be080;
  border: none;
  border-radius: 48px;
  cursor: pointer;
  transition: opacity 1s;
  padding: 0;
  align-self: center;
  margin: 0 30px 0 0;
}

.search-form__button:hover {
  opacity: 0.6;
}

.search-form__checkbox {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-left: 1px solid rgba(232, 232, 232, 1);
  height: 40px;
  padding-left: 29px;
}

.search-form__checkbox__input {
  margin-left: 29px;
  position: absolute;
  z-index: -1;
  opacity: 0;
  cursor: pointer;
}

.search-form__checkbox__pseudo-el {
  display: inline-block;
  width: 36px;
  height: 20px;
  background-image: url('../../images/smalltumboff.svg');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  margin-right: 12px;
}

.search-form__checkbox__input:checked + .search-form__checkbox__pseudo-el {
    background-image: url('../../images/smalltumb.svg');
  }
