.header {
    margin: 0 auto 20px;
    max-width: 1280px;
    min-height: 74px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__logo {
    height: 38px;
    width: 38px;
    padding: 18px 0 18px 70px;
}

.header__nav-box {
    max-width: 183px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 71px;
}

.header__reg-link {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    padding-right: 30px;
    text-decoration: none;
    color: #000000;
}

.header__login-link {
    color: #000000;
    background-color: #2BE080;
    border-radius: 3px;
    width: 76px;
    height: 24px;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    padding-top: 8px;
    text-decoration: none;
}

.header__movies-nav-box {
    max-width: 212px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 746px;
}

.header__movies-link {
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    margin-right: 16px;
    cursor: pointer;
    transition: opacity 2s;
}

.header__movies-link:last-child {
    margin-right: 0;
}

.header__movies-link_active {
    font-weight: 500;
}

.header__movies-link:hover {
    opacity: 0.6;
}

.header__account-link {
    background-color: #f9f9f9;
    border-radius: 20px;
    font-weight: 500;
    text-decoration: none;
    color:#000000;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin: 21px 70px 21px 0;
    padding: 8px 20px 8px;
    text-align: center;
    cursor: pointer;
    transition: opacity 2s;
}

.header__account-link:hover {
    opacity: 0.6;
}