.register {
    max-width: 396px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: flex-start;
    max-height: 100%;
}

.register__logo {
    background-image: url(../../images/logo.svg);
    width: 38px;
    height: 38px;
    margin: 70px 0 40px;
}

.register__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
    margin: 0 0 40px;
}

.register__form {
    width: 100%;
}

.register__input-container {
    margin-bottom: 128px;
}

.register__input-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 6px;
}

.register__input-head {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
    text-align: start;
    margin: 0 0 5px;
    padding: 0;
}

.register__input {
    width: 100%;
    height: 17px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: start;
    margin: 0 0 6px;
    padding: 0 0 10px;
    border: none;
    border-bottom: 1px solid rgba(232, 232, 232, 1);
}

.register__input:focus {
    outline: none;
}

.register__input_type_success {
    border-bottom: 1px solid rgba(43, 224, 128, 1);
}

.register__input_type_fail {
    color: #EE3465;
}

.register__input-error {
    width: 100%;
    height: 12px;
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: start;
    color: #EE3465;
}

.register__submit-btn {
    width: 100%;
    height: 45px;
    background-color: #2BE080;
    border: none;
    border-radius: 3px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding: 0;
    cursor: pointer;
    transition: opacity 1s;
    margin: 0 0 16px;
}

.register__submit-btn:hover {
    opacity: .8;
}

.register__submit-btn_disabled {
    background-color: #F8F8F8;
    color: #C2C2C2;
}

.register__subtitle {
    margin: 0 auto 70px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #A0A0A0;
}

.register__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #2BE080;
    transition: opacity 1s;
}

.register__link:hover {
    opacity: .8;
}