.login {
    max-width: 396px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: flex-start;
    max-height: 100%;
}

@media (max-width:415px) {
    .login {
        max-width: 260px;
    }
}

.login__logo {
    background-image: url(../../images/logo.svg);
    width: 38px;
    height: 38px;
    margin: 70px 0 40px;
}

@media (max-width:415px) {
    .login__logo {
        margin: 56px auto 50px;
    }
}


.login__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
    margin: 0 0 40px;
}

@media (max-width:415px) {
    .login__title {
        margin: 0 auto 80px;
    }
}

.login__form {
    width: 100%;
}

.login__input-container {
    margin-bottom: 215px;
}

@media (max-width:415px) {
    .login__input-container {
        margin-bottom: 267px;
    }
}

.login__input-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 6px;
}

.login__input-head {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
    text-align: start;
    margin: 0 0 5px;
    padding: 0;
}

.login__input {
    width: 100%;
    height: 17px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: start;
    margin: 0 0 6px;
    padding: 0 0 10px;
    border: none;
    border-bottom: 1px solid rgba(232, 232, 232, 1);
}

.login__input:focus {
    outline: none;
}

.login__input_type_success {
    border-bottom: 1px solid rgba(43, 224, 128, 1);
}

.login__input_type_fail {
    color: #EE3465;
}

.login__input-error {
    width: 100%;
    height: 12px;
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: start;
    color: #EE3465;
}

.login__submit-btn {
    width: 100%;
    height: 45px;
    background-color: #2BE080;
    border: none;
    border-radius: 3px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding: 0;
    cursor: pointer;
    transition: opacity 1s;
    margin: 0 0 16px;
}

.login__submit-btn:disabled {
    cursor: default;
    opacity: .5;
}

@media (max-width:415px) {
    .login__submit-btn {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 14px;
    }
}

.login__submit-btn:hover:valid {
    opacity: .8;
}

.login__submit-btn_disabled {
    background-color: #F8F8F8;
    color: #C2C2C2;
}

.login__subtitle {
    margin: 0 auto 70px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #A0A0A0;
}

@media (max-width:415px) {
    .login__subtitle {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 30px;
    }
}

.login__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #2BE080;
    transition: opacity 1s;
}

@media (max-width:415px) {
    .login__link {
        font-size: 12px;
        line-height: 15px;
    }
}

.login__link:hover {
    opacity: .8;
}