.about-me {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media screen and (max-width: 1140px) {
    .about-me {
        max-width: 668px;
    }
}

@media screen and (max-width: 669px) {
    .about-me {
        max-width: 292px;
    }
}

.about-me__title {
    margin: 110px auto 66px;
    width: 100%;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    text-align: left;
    padding: 0 0 23px;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

@media screen and (max-width: 1140px) {
    .about-me__title {
        margin: 90px auto 66px;
    }
}

@media screen and (max-width: 669px) {
    .about-me__title {
        margin: 70px auto 60px;
        padding: 0 0 28px;
    }
}

.about-me__desc-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
}

@media screen and (max-width: 669px) {
    .about-me__desc-box {
        flex-direction: column-reverse;
        justify-content: flex-start;
    }
}

.about-me__name-box {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media screen and (max-width: 1140px) {
    .about-me__name-box {
        max-width: 364px;
    } 
}

@media screen and (max-width: 669px) {
    .about-me__name-box {
        max-width: 292px;
    } 
}

.about-me__name-title {
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    text-align: start;
    margin: 0 0 18px;
}

@media screen and (max-width: 1140px) {
    .about-me__name-title {
        font-size: 40px;
        line-height: 40px;
        margin: 0 0 16px;
    }
}

@media screen and (max-width: 669px) {
    .about-me__name-title {
        font-size: 30px;
        line-height: 36px;
        margin: 0 0 20px;
    }
}

.about-me__job-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    margin: 0 0 26px;
    text-align: start;
}

@media screen and (max-width: 1140px) {
    .about-me__job-title {
        font-size: 12px;
        line-height: 18px;
        margin: 0 0 20px;
    }
}

@media screen and (max-width: 669px) {
    .about-me__job-title {
        font-size: 11px;
        line-height: 16px;
        margin: 0 0 20px;
    }
}

.about-me__info-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: start;
    margin: 0 0 99px;
}

@media screen and (max-width: 1140px) {
    .about-me__info-subtitle {
        font-size: 12px;
        line-height: 18px;
        margin: 0 0 87px;
    }
}

@media screen and (max-width: 669px) {
    .about-me__info-subtitle {
        font-size: 11px;
        line-height: 16px;
        margin: 0 0 40px;
    }
}

.about-me__link-box {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 0 100px;
}

@media screen and (max-width: 1140px) {
    .about-me__link-box {
        margin: 0 0 90px;
    }
}

@media screen and (max-width: 669px) {
    .about-me__link-box {
        margin: 0 0 69px;
    }
}

.about-me__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: start;
    margin-right: 20px;
}

@media screen and (max-width: 669px) {
    .about-me__link {
        margin-right: 26px;
    }
}

.about-me__photo {
    background-image: url(../../images/msg977848711-34972.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 270px;
    height: 327px;
    border-radius: 10px;

}

@media screen and (max-width: 1140px) {
    .about-me__photo {
        width: 255px;
        height: 307px;
    }
}

@media screen and (max-width: 669px) {
    .about-me__photo {
        width: 292px;
        height: 352px;
        margin-bottom: 40px;
    }
}
